<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="js/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <title> OFFER | FORM </title>
</head>
<body>
<header>
    <div class="container">
        <div class="row">
            <div id="branding" class="col-xs-6 col-sm-6 center">
                <h2><span class="highlight"> <span class="text_change"> //// OFFER FORM >>>> </span></span></h2>
            </div>
            <div id="brand_login" class="col-xs-6 col-sm-6 right">
                <div>
                    {% if username %}
                    <a href="index.php?action=guest_panel"><span id="" class="highlight"> {{ username }} </span></a> / <a class="highlight" href="index.php?action=logout">  LOG OUT </a>
                    {% else %}
                    <span id="navLogin" class="highlight"> LOG HERE </span>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>
</header>