<h2> LOGIN </h2>

{{ errors }}

<form id="login_form" action="index.php?action=login" method="POST">
    <div class="row">
        <div class="col-xs-2 col-sm-2">
            <label for="login"><h3 style="margin: 0"> USERNAME </h3></label>
        </div>
        <div class="col-xs-4 col-sm-4">
            <input type="text" name="username" id="login" value="" autocomplete="off">
        </div>
        <br>
        <br>
        <div class="col-xs-2 col-sm-2">
            <label for="password"><h3 style="margin: 0"> PASSWORD </h3></label>
        </div>
        <div class="col-xs-4 col-sm-4">
            <input type="password" name="password" id="password" autocomplete="off">
        </div>
        <br>
        <br>
        <div class="col-xs-2 col-sm-2"></div>
        <div class="col-xs-4 col-sm-4">
            <button id="#send" type="submit" class="btn-primary" name="submit"> LOGIN </button>
            <input type="hidden" name="form_sent" value="1">
        </div>
    </div>
</form>

<br>
<p>Nie masz konta?</p>
<p><span id="register" style="color:black;"> Zarejestruj się!</span></p>

<script>main.bindloginForm()</script>

