{% include 'header.html' %}

<form action="index.php?action=save_form" method="post">
    <section id="bidForm">
        <div class="container">
            <h2> CREATE NEW OFFER </h2>
            <div class="offer_form">
                <div class="row">
                    <div id="offer_name" class="col-xs-8 col-sm-8 form result_sum">
                        <input placeholder="Offer Name  < here >" name="offer_name" type="text" class="col-xs-12 col-sm-12">
                    </div>
                    <div class="col-xs-4 col-sm-4"></div>
                </div>
                <div id="offer_block" class="offer">
                    <!-- Tutaj siedzi cały formularz -->
                </div>
            </div>

            <div class="row">
                <div id="sum" class="col-xs-8 col-sm-8">
                    <div type="text" class="col-xs-6 col-sm-6"> </div>
                    <div type="text" class="col-xs-2 col-sm-2 paddRightOff"><h3 style="margin: 0"> SUM =  </h3></div>
                    <div id="view_sum" class="form col-xs-4 col-sm-4"><h3 style="margin: 0; text-align: right;"> zł </h3></div>
                </div>

                <div class="col-xs-2 col-sm-2">
                    <button type="submit" class="btn_save center"> SAVE </button>
                </div>

                <div class="col-xs-2 col-sm-2">
                    <a href="index.php?action=guest_panel">
                        <button type="button" class="btn_return center"> RETURN </button>
                    </a>
                </div>

            </div>
        </div>

    </section>
</form>

{% include 'footer.tmpl.html' %}