{% include 'header.html' %}

<section id="bidForm">
    <div class="container">
        <h2> SHOW or CREATE OFFER </h2>
        <br>
        <div id="offer_name_show">
            <div class="row" style="position: relative">
                <div id="offer_name_second" class="col-xs-7 col-sm-7 dropdown">
                    <button class="dropbtn"> Select Offer To View  /  Edit </button>
                    <div class="dropdown-content">
                        <ul>
                            {% for offer in offers %}
                            <li>
                                <div class="row">
                                    <div class="col-xs-8 col-sm-8">
                                        <p style="font-weight: bold; padding-top: 0px; font-size: 130%; "><span class="">{{ offer.offer_name }}</span></p>
                                    </div>
                                    <div class="col-xs-2 col-sm-2" style="padding: 0">
                                        <button type="button" class="btn_edit_offer btn-block center">
                                            <a href="index.php?action=edit_offer&offer_id={{ offer.offer_id }}">EDIT</a>
                                        </button>
                                    </div>
                                    <div class="col-xs-2 col-sm-2">
                                        <button type="button" class="btn_delete_offer btn-block center">
                                            <a href="index.php?action=delete_offer&offer_id={{ offer.offer_id }}"><span class="glyphicon glyphicon-trash center"></span></a>
                                        </button>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div id="offer_name_third" class="col-xs-1 col-sm-1" style="text-align: center">
                    <h3 style="margin: 0"> OR </h3>
                </div>
                <div id="offer_name_empty" class="col-xs-2 col-sm-2">
                    <a href="index.php?action=new_offer">
                        <button type="button" class="btn_ToOffer"> Create New Offer </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% include 'footer.tmpl.html' %}
