<h2> REGISTER </h2>

{{ errors }}

<br>
<br>
<form id="register_form"action="index.php?action=register" method="POST">
    <div class="row">
        <div class="col-xs-3 col-sm-3">
            <label for="username"><h3 style="margin: 0"> CREATE LOGIN </h3></label>
        </div>
        <div class="col-xs-4 col-sm-4">
            <input type="text" name="username" id="username" value="">
        </div>
        <br>
        <br>
        <div class="col-xs-3 col-sm-3">
            <label for="user_email"><h3 style="margin: 0">YOUR E-MAIL</h3></label>
        </div>
        <div class="col-xs-4 col-sm-4">
            <input type="text" name="user_email" id="user_email" value="">
        </div>
        <br>
        <br>
        <div class="col-xs-3 col-sm-3">
            <label for="password"><h3 style="margin: 0">Stwórz hasło </h3></label>
        </div>
        <div class="col-xs-4 col-sm-4">
            <input type="password" name="password" id="password">
        </div>
        <br>
        <br>
        <div class="col-xs-3 col-sm-3"></div>
        <div class="col-xs-4 col-sm-4">
            <button id="submit_reg" type="submit" class="btn-primary" name="submit">REGISTER</button>
        </div>
    </div>
</form>

<script>main.bindRegisterForm()</script>