@charset "UTF-8";


body {
    /*
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    */

    font: 15px/1.5 Verdana, Helvetica, sans-serif;
    padding: 0;
    margin: 0 auto;
    background-color: lightgrey;
    cursor: default;
}

/* Global */
.container {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;

}

/* Header **/

header {
    background: grey;
    color: #ffffff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #5bc0de 3px solid;
}

header div div div h2 {
    margin-top: 0;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
    text-align: left;
}

header #branding h2 {
    margin-left: 50px;
}

header #brand_login {
    height: 42.73px;
}

header #brand_login > div {
    float: right;
    margin-right: 50px;
}

header .current {
    transition: 0.5s;
    color: #5bc0de;
    text-decoration: none;
}

header .highlight {
    transition: 0.5s;
    color: #ffffff;
    text-decoration: none;
}

header .highlight:hover , header .current , #bidForm h2:hover, .text_change:hover, #home h2:hover header a:hover, span.highlight:hover  {
    transition: 0.5s;
    color: #ec971f!important;
    text-decoration: none;
}

.text_change {
    transition: 0.5s;
    color: #5bc0de;
    font-weight: bold;
}

/* Home */

#home {
    background: grey;
    padding: 15px;
    color: #ffffff;
}

#home h2{
    transition: 0.5s;
    text-align: center;
    color: #5bc0de;
    font-weight: bold;
}

/* Bid Form **/

#bidForm {
    background: grey;
    padding: 15px;
    color: #ffffff;
}

#bidForm h2,h3 {
    transition: 0.5s;
    text-align: center;
    color: #5bc0de;
    font-weight: bold;
}

div#table {
    color: #5bc0de;
    text-align: center;
    font-size: small;
    padding: 0;
    margin: 0;
    font-weight: bold;
}

input {
    color: black;
    height: 28px;
}

input.CountValue{
    text-align: center;
}

input.paddRightOff {
    padding-right: 0;
    padding-left: 0;
}

div.paddRightOff {
    padding-right: 0;

}

div.offer_form {
    border: 4px #5bc0de solid;
    border-radius: 10px;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

div#offer_name {
    padding-top: 0;
}

.result {
    border: 1px yellow solid;
    height: 28px;
    text-align: right;
}
.group_result {
    background-color: yellow;
    height: 28px;
    text-align: right;
    color: black;
}

div#offer_name > input {
    background-color: grey;
    color: #5bc0de;
    font-weight: bold;
    font-size: 22px;
    border: none;
    padding-left: 0;
}


div.offer > div > div.group > div > div.result, div.offer > div > div.group > div > input {
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: none;
}

.offText {
    padding-top: 10px;
}

div.form{
    height: 28px;
}

.result_sum {
    /*border: 4px deepskyblue solid;*/
    /*border-radius: 10px;*/
    margin-top: 10px;
    text-align: right;
}

/* ////////////// DROP DOWN MENU //////////////// */

.dropbtn {
    background-color: #5bc0de;
    border-radius: 5px;
    color: black;
    padding: 0;
    font-size: 16px;
    cursor: pointer;
    width:100%;
}

.dropdown-content{
    display: none;
    color: lime;
}

.dropdown-content a{
    /*color: lime;*/
}


/* Footer **/

footer > p {
    float: right;
}




/* Buttons **/
.btn
{
    padding: 2px;
    margin-top: 0;
}

.btn_add_group {
    background-color: #4cae4c;
    border: 2px deepskyblue solid;
    border-radius: 5px;
    color: #5bc0de;
    font-weight: bold;
}

.btn_remove_group {
    background-color: indianred;
    border: 2px deepskyblue solid;
    border-radius: 5px;
    color: #5bc0de;
    font-weight: bold;
}

.btn_add {
    background-color: #4cae4c;
    border-radius: 5px;
    color: black;
}

.btn_remove {
    background-color: indianred;
    border-radius: 5px;
    color: black;
}

.btn_save {
    background-color: #5bc0de;
    border-radius: 5px;
    color: black;
}

.btn_ToOffer {
    background-color: #5bc0de;
    border-radius: 5px;
    color: black;
}

.btn_return {
    background-color: #5bc0de;
    border-radius: 5px;
    color: black;
}

.btn_edit_offer {
    border-radius: 5px;
    background-color: #5bc0de;
}

button.btn_edit_offer > a{
    color: black;
}

.btn_delete_offer {
    border-radius: 5px;
    background-color: red;
}

button.btn_delete_offer > a{
    color: black;
}




